.gallery {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(200px , 1fr));
  gap: 50px;
  margin-top: 20vh;
  margin-left: 10%;
  margin-right: 10%;
}
.inner {
  border: 1px solid white;
  height: 40vh;
  width: 20%;
 
  
}
img{
height: 40vh ;
width: 100%;

}
.inner:hover{
    height: 50vh;
    width: 70%;
}
img:hover{
    height: 50vh;
}
body{
    background-image: url(https://content.pexels.com/images/canva/ai-generated-ad/off-theme/single_daisy_minimalism-full.jpg);
     background-attachment: fixed;
      background-size: cover;
   
}
