body{
    margin: 0;
}
.nav{
    height: 10vh;
    
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 5px rgba(83, 20, 20, 0.078);
     top: 0;
}
.logo{
margin-top: -1.3vh;
display: grid;
align-items: center;
}

.left:hover{
   border-bottom: 5px solid black;
   padding: 20px 15px 10px 10px;
}

.icon{
     display: flex;
    justify-content: space-around;
     margin-left:40%;
     align-items: center;
     margin-left: 55%;

}
.button{
    padding: 25px 25px 25px 50px;
   
    
}
.left{
    margin-left: 15px;
    
}
.footer{
    height: 60px;
}