body {
  margin: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.nav {
  padding: 20px;
  background-color: white;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  justify-content: space-around;
   box-shadow:5px 5px 5px 5px rgba(83, 20, 20, 0.078);
}
.icon1{
  display: flex;
  justify-content: space-around;
}
.footer {
  background-color: black;
  padding: 70px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  bottom: 0;
  
}

.icon1{
  margin-left: -19%;

}
.icon2{
  display: flex; 
  text-align: center;
  justify-content: space-around;
  gap: calc(10px);
  margin-right: -19%;

}
.main {
  margin-top: 4vh;
  height: calc(100vh - 140px);
  display: grid; 
  background-color: white;
}
.offer{
    color: rgb(18, 7, 7);
    position: relative;
    font-size: 30px;
}

.fcontent{
    color: azure;
    word-break: break-all;
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    padding-left: 30px;
     padding-bottom: 30px;
}
.section{
  display: block;
  justify-content: center;
}
